html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container-fluid {
    cursor: move;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 20px 20px;
    background-size: cover;
    height: 100%;
    background-color: black;
    color: red;
    font-weight: bold;
    font-size: 3rem;
    text-decoration: underline;
}

.container {
    margin: 0;
}

div {
    text-align: center;
    font-size: 2rem;
    color: red;
}

.row {
    height: 100px;
}

.no {
    /* background-image: url("/Users/justinkim/Documents/WebDevBootCampPracticeFolder/MouseGame/lava.jpeg"); */
    background-color: red;
}


.row.des1 {
    height: 20px;
}

.inv {
    background-color: blue;
}

#beg {
    background-color: burlywood;
}

#end {
    background-color: burlywood;
}

.warn {
    background-color: black;
}
/* 
.redOut {
    background-color: red;
} */